<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo Flask Demo</title>
    <link rel="stylesheet" href="/tienda_fruta_dojo.css" type="text/css">
</head>
<body>
    <div class="principal">
      <div class="titulo_catalogo">
        <h1>Catalogo de Frutas Dojo!</h1>
        <p>Hemos seleccionado de entre las mejores y mas solicitadas frutas del mercado
            solo para usted!
        </p>
      </div>
      <div class="contenedor">
        
        <div class="contenedor_componentes">
           <div class="subtitulo"><h1>Catalogo de Frutas</h1></div>
           <div class="tabla">
            <table class="tabla_frutas_catalogo">
              {% for i in session['lista_frutas_catalog'] %}
              <tr>
                <td><h3>{{i['nombre']}}</h3></td>
                <td><img src="{{i['ruta']}}" alt="no se encontro la imagen de la fruta" style="width: 200px; height: 150px;"></td>
              </tr>   
              {% endfor %}
            </table>
           </div>
      
      </div>
    </div>
</body>
</html>