<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block titulo%}{%endblock%} - Demo Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/contador_visitas.css') }}" type="text/css">
    
</head>
<body>
   <div class="principal">
      
      <div><h1>Contador</h1></div>
      
      <div><p>{%block contenido%}{%endblock%} vez</p></div>
      
      <div class="panelbotones">            
        <div><a href="/menuincrementoboton">Actualizar incremento</a></div>
        <div><a href="/incrementoboton">Incremento en {{session['incrementoboton']}}</a></div>
        <div><a href="/destroysession">Reset</a></div>
      </div>

   </div>
</body>
</html>