<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incremento del boton - Demo Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/contador_visitas.css') }}" type="text/css">

</head>
<body>
    <div class="principal">
      <div><h1>Configurar el incremento del contador con el boton</h1></div>
      
      <form action="/actualizarincrementoboton" method="POST">
        
        <div>
            <label for="select_incremento">Indique de cuanto sera el incremento al hacer clic en el boton</label>
            <select id= "select_incremento" name="select_incremento" value="{{session['incrementoboton']}}">
            {%for i in range(1,100)%}
              <option value="{{i}}">{{i}}</option>
            {%endfor%}
           </select>
        </div>

        <div class="panelbotones">            
          <button type="submit">Actualizar</button>
        </div>

      </form>

    </div>

</body>
</html>