
*{
    font-family: Arial, Helvetica, sans-serif;
}


.principal {
  display: flex;
  flex-direction: column;
  padding: 30px 100px;
}

.titulo{
    padding: 0;
    display: flex;
    height: 10%;
    text-align:left;
    gap:30px
}

.titulo h1{
  padding: 0;
  margin:8px 0 0 0;
  align-self: center;
}


.titulo img{
  width: 60px;
  height: 60px;
}

.contenedor{
    display:flex;
    flex-direction: row;
}

.contenedor_componentes{
  width: 70%;
}

.contenedor_mensaje{
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color:#B4A7D6;
  border: black solid 1px;
  width: 20%;
  height: 500px;
  margin: 0 auto;
  border-radius: 5px;
}

.subtitulo{
  font-size: 1.5em;
}

.tabla_frutas, .tabla_frutas_checkout {
  width: 500px;
  margin: 0 auto;
  font-size: 1.2em;
}

.tabla_frutas tr:nth-child(even), .tabla_frutas_checkout tr:nth-child(even) {
  background-color:#F8F9FA;
}

.tabla_frutas th, .tabla_frutas_checkout th{
  height: 30px;
  background-color: #D3D3D3;
}

.tabla_frutas td, .tabla_frutas_checkout td{
  height: 40px;
}


.tabla_frutas td:nth-child(1), .tabla_frutas_checkout td:nth-child(1){
  text-align: center;
  width: 200px;
}

.tabla_frutas td:nth-child(2), .tabla_frutas td:nth-child(4), .tabla_frutas_checkout td:nth-child(2), .tabla_frutas_checkout td:nth-child(3),  .tabla_frutas_checkout td:nth-child(4) {
  text-align: center;
}

.tabla_frutas td:nth-child(3){
  display: flex;
  justify-content: center;
}


.tabla_frutas td:nth-child(3) select{
  height: 25px;
  width: 45px;
  align-self: center;
}


.form_componentes, .form_etiquetas {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}

.form_componentes div:first-child{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1em;
}  

.form_componentes div:first-child label{
  font-size: 1.2em;
}

.form_componentes div:last-child{
  display: flex;
  flex-direction: column;
  gap: 10px;
}  

.form_componentes div:last-child input{
  width: 200px;
  height:25px;
  border-radius: 3px;
}

  
.contenedor_boton{
  margin-top: 30px;
  display: flex;
  justify-content:space-around;
}

.contenedor_boton button{
  background-color: #B6D7A8;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1em;
  border: solid 1px gray;
  height: 40px;
}

.contenedor_boton div {
  background-color: #B6D7A8;
  border: solid 1px gray;
  border-radius: 5px;
  height: 37px;
  width: 160px;
  text-align: center;
}

.contenedor_boton div a{
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  color: black;
  line-height: 40px;
  display:inline-block;
  width: 100%;
  height: 100%;
}

.contenedor_boton a:hover{
  cursor:default;
}


.form_etiquetas div p{
  padding: 0;
  margin: 10px;
}

.contenedor_boton_catalogo{
  display: flex;
  padding-top: 100px;
}

.contenedor_boton_catalogo button{
  margin: 0 auto;
  background-color: #B6D7A8;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1em;
  height: 40px;
  border: 1px solid gray;
}